@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700&subset=latin-ext');
@import 'style/promo.scss';


$orange: rgba(255,100,0, 1);
$grey: rgba(120, 120, 120, 255);
$silver: rgba(70, 70, 70, 255);
$blue: rgba(251, 251, 251, 1);

%grid {
  display: grid;
  grid-template-columns: 50% 50%;
}
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s;
  user-select: none;
}
body, html {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  overflow-x: hidden;
}
a:link, a:visited a:hover, a:active {
  text-decoration: none;
  color: black;
}
.nav {
  @extend %grid;
  text-transform: uppercase;
  position: relative; 
}
.sticky {
  position: fixed;
  background-color: rgba(255,255,255,0.95);
  z-index: 1;
  width: 100%;
  box-shadow: 0 8px 8px 0px rgba(255, 255, 255, 0.95);
}
.menu {
  display: flex;
  font-size: .9vw;

  li {
    color: $silver;
    list-style-type: none;
    line-height: 7rem;
    padding: 1.5vw;
    
    &:hover,
    &:nth-child(1) {
      color: white;
      background-color: $orange;
    }
  }
}
.logo {
  font-size: 1.8vw;
  padding-top: 1vw;
}
.bold {
  font-weight: 700;
}
.title {
  margin: 5rem auto;
}
.orange {
  color: $orange;
}
h1,
h2 {
  width: 60%;
}
h2 {
  font-weight: normal;
  font-size: 5rem;
  margin: 0px auto;
}
h1 {
  color: #ff6600;
  font-size: 6rem;
}
.one {
  background-image: url("./img/desk.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 55px;
  padding-left: 10px;
  height: 1000px;
}
#slideshow {
  position: relative;
  top: 485px;

  div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

.folio, .passion, .comments, .logos, .contact {
  display: flex;
  flex-wrap: wrap;
}
.passion, .comments, .logos {
  max-width: 68vw;
}
.box {
  width: 300px;
  height: 426px;
  padding: 6rem 2rem;
  background-color: $blue;

  img:hover {
    transform: scale(1.2);
  }
}
h3 {
  margin: 2rem;
  font-size: 2rem;
  font-weight: normal;
}
.info {
  color: $grey;
  font-size: 1.5rem;
}
.folio-box {
  width: 460px;
  height: 430px;
  position: relative;
  filter: grayscale(50%);

  img:hover {
    transform: scale(1);
    filter: grayscale(0%);
  }
}
.button {
  width: 192px;
  height: 53px;
  background-color: $orange;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 4.5rem;
  margin-top: 5rem;
  text-align: center;
  border: 5px solid transparent;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: $orange;
    border: 5px solid $orange;
  }
  &:after {
    content: url('./img/arrow.png');
  }
  &:hover:after {
    content: url('./img/arrows.png');
  }
}
.ex input+span:after {
  content: url('./img/arrow.png');
  position: relative;
  left: -50px;
}
.ex input+span:after:hover {
  content: 'pppp';
  position: relative;
}
.cite {
  width: 370px;
  height: 400px;
  padding: 1rem;
  font-size: 1.5rem;
}
.cite > * {
  margin: 20px;
  text-align: left;
}
.face {
  display: flex;

  .name {
    text-align: left;
  }
}
.left {
  margin-left: 0px;
}
.form {
  width: 500px;
  border: 1px solid #000;
  text-align: left;
  justify-self: flex-end;
}
input, textarea {
  background-color: #f8f8f8;
  width: 400px;  
  text-align: left;
  border: none;
  margin: 5px;
  color: $grey;
  font-style: italic;
  outline: none;
}
input {
  height: 25px;
}
.map {
  margin-right: 0px;
  margin-top: 30px;;
  img {
    width: 100%;
  }
}
.clients {
  opacity: 0.3;
}
.four, .clients {
  background-color: $blue;
}
footer {
  @extend %grid;
  position: relative;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
  }
  .list {
    color: white;
  }
}